repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

  # Flake8 linting
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings]
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503,E501,D100,D101,D102,D103,D104,D105,D200,D204,D205,D400,D401',
          '--per-file-ignores=__init__.py:F401'
        ]
        exclude: ^alembic/

  # MyPy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - sqlalchemy-stubs
        args: ['--ignore-missing-imports', '--follow-imports=skip']
        exclude: ^alembic/
